@import "tailwindcss";

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #767677;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #4e4e4e;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2ea172;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  background-color: #151515;
}
